@import "tailwindcss";

@theme {
  --font-sans: var(--font-nunito);
  --font-serif: var(--font-lora);

  --color-primary: #039869; /* Green */
  --color-sale: #e70c0c; /* Red */
  --color-sale-dark: #a60003; /* Dark Red */
  --color-sale-light: #fa8a8a; /* Light Red */
  --color-sale-bg: #ffe3e3; /* Pink */
  --color-bg-cream: #f3eee0; /* Cream */
  --color-gray-transparent: #e0e0e080; /* Transparent Gray */
  --color-text-main: #1a1a1a; /* Dark Text */
  --color-text-muted: #6b7280; /* Muted Text */
  --color-rating: #fbbf24; /* Yellow for Ratings */

  --animate-infinite-scroll: infinite-scroll 120s linear infinite;
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

body {
  background-color: #ffffff;
  color: var(--color-text-main);
  font-family: var(--font-nunito);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-lora);
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}